@model WordsCounter.Models.DataParser


<!DOCTYPE html>
<html>
<head>
    <title>Word Counter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
     <link rel="stylesheet" href="~/css/foto.css" />
</head>
<body>
    
    <div class="text-center">
        <h1>This is a simple web page parser<br /> to get the text of the site.</h1>
     
    </div>
</body>
</html>