@model WordsCounter.Models.DataParser


<!DOCTYPE html>
<html>
<head>
    <title>Word Counter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>If you want to count the number of matching words, then click: Repet Words</h3>
     <a href="/DataParser/RepetWords" name="RepetWords"><h1>Repet Words</h1></a>
     <br />
     <br />
     <h3>If you just want to parse a web page then click: Pars Web Page</h3>
     <a href="/ParsOnlyText/Text" name="ParsOnlyText"><h1>Pars Web Page</h1></a>
    </div>
</body>
</html>