
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Privacy</title>
         <link rel="stylesheet" href="~/css/foto.css" />
    </head>
    <body>
       <div> 
           <center>
          <h1>
            This is an open source project,<br />
            you can use the code.
          </h1>
          </center>
        </div>
    </body>
</html>
