
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Privacy</title>
         <link rel="stylesheet" href="~/css/foto.css" />
    </head>
    <body>
       <div> 
           <center>
          <h1>
            This is an open source project,<br />
            you can use the code.
          </h1>
          </center>
        </div>
        <br />
        <br />
        <br />
        <div>
            <center>
            <h3>Images was taken from web page wallpaperscraft.ru, thank you!</h3>
            <h3>You can go to this web pag and see to many beautifull pictures!</h3>
            <a href="https://wallpaperscraft.ru/catalog/nature/page3"><h2>wallpaperscraft.ru</h2></a>
            </center>
        </div>
    </body>
</html>
