@model List<string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
     <link rel="stylesheet" href="~/css/site.css" />

    </head>
<body>
     <div class="text-center">
    <h2 class="style" style="color:cadetblue">Repeting words.</h2>
    </div>

<br />
 <div class="text-center">
     <a class="btn btn-primary btn-lg" asp-area="" asp-controller="DataParser" asp-action="RepetWords">One word</a>
<a class="btn btn-primary btn-lg" asp-area="" asp-controller="DataParser" asp-action="TwoWords">Two words</a>
<a class="btn btn-primary btn-lg" asp-area="" asp-controller="DataParser" asp-action="ThreeWords">Three words</a>
</div>
<table class="table table-striped" border="5">
     
    @foreach(var item in Model)
    {
        <tr>
           <td>@item</td>
        </tr>

      
    }
</table>
</body>
</html>