@model List<string>

    <html>
    <head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
     <link rel="stylesheet" href="~/css/site.css" />

    </head>
<body>
     <div class="text-center">
    <h2 class="style" style="color:darkolivegreen">Page Text.</h2>
    </div>

<br />
<table class="table table-striped" border="5">
    @foreach(var item in Model)
    {
        <tr>
           <td>@item</td>
        </tr>

      
    }
</table>
</body>
</html>
