@model List<string>


<html>
    <head>
        <title>Pars Pages Text</title>
         <link rel="stylesheet" href="~/css/foto.css" />
    </head>
    <body>
        <div class="text-center">
      <form method="post">
        <label><h3>Input reference</h3></label><br />
        <input type="text" name="reference" /><br /><br />
         <h3> <input type="submit" value="Analyze" /></h3>
       </form>
      </div>
        
    </body>
</html>
